* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainDiv {
    display: flex;
    width: 100%;
    margin: 10px;
    height: fit-content;
    gap: 10px;
}
.firstDiv {
    width: 30%;
    background-color: rgb(217, 198, 235);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pImage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.pImage label{
    margin-left: -60px;
    margin-top: -40px;
    z-index: 10;
}
.pImage label i{
    font-size: 2em;    
}
.pImage .fileInput{
    display: none;
}
.skills{
    margin-top: 20px;
}
.skills h1{
    color: azure;
}
.skills input{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: bisque;
    border-radius: 5px;
}
.skills button{
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: azure;
}
.eduDetails{
    margin-top: 20px;
}
.eduDetails h1{
    color: azure;
}
.eduDetails input{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: bisque;
    border-radius: 5px;
}
.eduDetails button{
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: azure;
}
.languages{
    margin-top: 20px;
}
.languages h1{
    color: azure;
}
.languages input{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: bisque;
    border-radius: 5px;
}
.languages button{
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: azure;
}
.skillInputDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.eduInputDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.langInputDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ..................................................Second Div...................................................... */
.secondDiv {
    width: 70%;
    padding-right: 40px;
}
.namedesobj{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.pName{
    border: none;
    font-size: 2.5em;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
}
.pDes{
    border: none;
    padding: 10px;
    font-size: 2em;
    color: rgb(217, 198, 235);
}
.namedesobj label{
    font-size: 2em;
    padding-left: 10px;
}
.pObj{
    padding-left: 10px;
    font-size: 1em;
    border: none;
    height: 130px;
    overflow-y: hidden;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
.address{
    width: 100%;
    background-color: rgb(217, 198, 235);
    padding: 10px;
    margin: 10px;
}
.addOne{
    display: flex;
    justify-content: space-between;
}
.addOne label{
    font-size: 1em;
}
.addOne input{
    border: none;
    background-color: transparent;
    font-size: 1em;
}
.wExp{
    display: flex;
    flex-direction: column;
}
.wExpHead{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.wExpHead i{
    font-size: 2em;
}
.wExpHead h1{
    font-size: 2em;
}
.wExpDiv{
    display: flex;
    flex-direction: column;
}
.wEXPDes{
    padding: 10px 10px 0px;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
}
.wEXPOrg{
    padding: 10px;
    border: none;
    font-size: 1em;
    font-weight: bold;
}
.wEXPDur{
    padding: 10px;
    border: none;
    color: rgb(169, 99, 235);
}
.wEXPAdd{
    padding: 10px;
    border: none;
    color: rgb(169, 99, 235);
}
.wExp label{
    font-size: 1.5em;
    padding-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.wExpBtn{
    padding: 10px;
    background-color: blue;
    width: 100px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    color: azure;   
}
.jobDes{
    padding-left: 10px;
    font-size: 1em;
    border: none;
    height: 130px;
    overflow-y: hidden;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
.courses{
    display: flex;
    flex-direction: column;
}
.courseHead{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.courseHead i{
    font-size: 2em;
}
.courseHead h1{
    font-size: 2em;
}
.course{
    padding: 10px;
    border: none;
    font-size: 1em;
}
.courseBtn{
    padding: 10px;
    background-color: blue;
    margin: 10px auto;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: azure;
}
.mainBtnDiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.generatePDF{
    padding: 10px;
    background-color: blue;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: azure;
}