* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mainDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fDiv {
    width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(90, 90, 165);
    border-radius: 5px;
    padding: 30px;
}
.img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: rgb(3, 245, 245) 0px 3px 8px;
}
.links{
    border-bottom:2px solid rgb(223, 216, 216);
    margin-bottom: 30px;
}

.fa-brands{
    font-size: 30px;
    color: rgb(223, 216, 216);
    cursor: pointer;
    margin: 5px;
}
.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(223, 216, 216);
}
.paraSillsDiv {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 2px;
}
.paraSkills {
    width: 100%;
    padding: 8px;
    background-color: rgb(192, 224, 235);
    border-radius: 5px;
    font-weight: bold;
}
.eduDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(223, 216, 216);
    font-size: larger;
}
.eduDetail {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 5px;
}
.eduPara {
    color: rgb(223, 216, 216);
}

.lanDiv{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(223, 216, 216);
    font-size: larger;
}
.lanDetail {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 5px;
}
.lanPara {
    color: rgb(223, 216, 216);
}


.sDiv {
    width: 70%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    padding: 30px;
}
.nameHeading{
    color: rgb(87, 76, 76);
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
}
.desheading{
    color: rgb(37, 37, 165);
    font-size: 1.5em;
}
.objPara{
    color: rgb(87, 76, 76);
    text-align: justify;
    margin-top: 10px;
}
.address{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(90, 90, 165);
    padding: 15px 50px;
    margin: 20px 0px;
    border-radius: 5px;
    color: rgb(223, 216, 216);
}
.addpara{
    display: flex;
    gap: 10px;
}